body {
  font-family: Arial;
  text-align: center;
  background: #ffe6f0;
}

.box {
  margin: 10px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

#users div {
  background: white;
  margin: 10px auto;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}
